@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Lato:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400;1,500&family=Sedgwick+Ave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Lato:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400;1,500&display=swap");
a {
  text-decoration: none;
  color: black;
}
.nav-item a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

.navbar-toggler-icon {
  color: black;
}
.nav_div button {
  background-color: transparent;
  color: black;
}
.background {
  background-image: url("./Background.jpg");
  color: white;
  width: 100%;
  border-radius: 60px;
  height: 400px;
  display: flex;
  z-index: 1;
  justify-content: center;
  font-family: "Caveat", cursive;
  font-family: "Roboto", sans-serif;
}
.background h1 {
  color: "white";
  padding-top: 1em;

  font-family: "Roboto", sans-serif;
}

.card_image_div_and_Card_title {
  border-radius: 50px;
  width: 70%;
  border: 1px solid rgb(141, 138, 138);
  box-shadow: 0 5px 10px rgba(185, 197, 243, 0.05),
    0 15px 40px rgba(178, 192, 245, 0.2);
  position: relative;
  top: -300px;
  z-index: 10;
  background-color: white;
}
.carousal_div {
  width: 200px;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.carousel-item {
  border: 1px solid black;
  border-radius: 10px;
}
.carousal_div_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  align-self: center;
}
.carousel_image_div img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.card_title {
  margin-top: 5em;
  font-family: "Caveat", cursive;
  font-family: "Roboto", sans-serif;
}
.features_parent {
  position: relative;
  top: -200px;
}
.features {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1em;
  border-radius: 40px;
  box-shadow: 0 5px 10px rgba(51, 56, 73, 0.05),
    0 15px 40px rgba(33, 35, 43, 0.1);
}
.features_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  text-align: center;
}
.features_text_div {
  font-family: "Caveat", cursive;
  font-family: "Roboto", sans-serif;
}

.circle {
  width: 7em;
  height: 7em;
  border-radius: 50%;

  /* background-color:rgb(245, 243, 240); */
  background: rgba(226, 221, 221, 0.8);

  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}
p {
  color: grey;
}
@media only screen and (max-width: 1000px) {
  .navbar {
    box-shadow: 0 5px 10px rgba(185, 197, 243, 0.05),
      0 15px 40px rgba(178, 192, 245, 0.2);
  }
  .card_title {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
    display: flex;
    flex-direction: column;
  }
  .card_title button {
    order: 1;
  }
  .card_title p {
    order: 4;
  }
  .card_title h2 {
    order: 2;
  }
  .card_title h1 {
    order: 3;
  }
  .carousal_div_2 {
    align-self: center;
  }
  .carousal_div {
    /* width: 300px;
    height: 400px; */
  }
  .carousel_image_div img {
    /* width: 300px;
    height: 400px; */
  }
  .features {
    flex-direction: column;
    align-items: start;
  }
  .features_items {
    flex-direction: row;
  }
  .circle {
    margin-right: 2em;
    flex: 0.3;
  }
  .features_text_div {
    text-align: start;
    flex: 0.7;
  }
}
